/* Image.css */

.containermain {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.image {
  width: 50%;
  margin: 0 auto; /* 수평 가운데 정렬 */
}

.imagebox {
  border: 2px dashed #999;
  width: 50vh;
  height: 40vh;
  margin: 0 auto; /* 수평 가운데 정렬 */
  margin-bottom: 2%;
  font-size: 16px;
  color: #999;
  padding: 10px;
}

.imagebox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto; /* 이미지를 가운데 정렬 */
}

button {
  padding: 3px 20px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

.backwhite {
  margin: 0 auto; /* 수평 가운데 정렬 */
  width: 70vh;
  height: 55vh;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-item {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-item a {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.member-info {
  width: 30%;
  font-weight: bold;
  color: #333;
  display: contents;
}
.listbox {
  width: 50vh;
  margin: 0 auto; /* 수평 가운데 정렬 */
  margin-bottom: 2%;
  padding: 10px;
}
.x-image {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 3px;
  margin-top: 5px;
}
