/* Image.css */
html,
body {
  height: 100%;
  margin: 0; /* 모든 margin을 제거하여 body가 화면에 꽉 차도록 합니다. */
  padding: 0; /* 모든 padding을 제거하여 body가 화면에 꽉 차도록 합니다. */
}

body {
  /* background-image: url("D:/lastpro_fornt/ml_front/public/img/background.png"); */
  background-image: url("D:/lastpro_fornt/ml_front/public/img/background1.jpg");
  background-size: cover;
}
.blue-text {
  color: blue;
  font-weight: bold;
}
.containermain {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.image {
  width: 50%;
  margin: 0 auto; /* 수평 가운데 정렬 */

  background-color: rgba(255, 255, 255, 0.8);
}
.imagebox {
  border: 4px dashed blue;
  width: 50vh;
  height: 40vh;
  margin: 0 auto; /* 수평 가운데 정렬 */
  margin-bottom: 2%;
  font-size: 16px;
  color: blue;
  padding: 10px;
}

.imagebox img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto; /* 이미지를 가운데 정렬 */
}
.imagebox div {
  font-size: 20px;
  color: red;
}

button {
  padding: 3px 20px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

.backwhite {
  margin: 0 auto; /* 수평 가운데 정렬 */
  width: 70vh;
  height: 55vh;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-item {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-item a {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.member-titleinfo {
  width: 50%;
  font-weight: bold;
  color: #333;
  display: inline;
  float: left;
  padding-left: 3%;
}
.member-titleinfo span {
  color: blue; /* 텍스트 색상을 변경 */
  float: left;
}
.member-titleinfo span:hover {
  /* 마우스가 요소 위에 올라갔을 때 표시할 스타일 */
  font-weight: bold; /* 텍스트 굵기를 변경 */
  color: red; /* 텍스트 색상을 변경 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 (클릭 가능한 요소임을 나타냄) */
}
.member-nameinfo {
  width: 40%;
  font-weight: bold;
  color: #333;
  display: contents;
}
.member-xinfo {
  width: 10%;
  font-weight: bold;
  color: #333;
  display: contents;
}
.listbox {
  width: 50vh;
  margin: 0 auto; /* 수평 가운데 정렬 */
  margin-bottom: 2%;
  padding: 10px;
}
.x-image {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 3px;
  margin-top: 5px;
}
